# Configuración del Servidor
PORT=3000
NODE_ENV=development

# Base de Datos (Ejemplo)
DB_HOST=localhost
DB_USER=usuario_local
DB_PASS=tu_contraseña_segura
DB_NAME=mi_base_de_datos

# API Keys Externas
API_KEY=tu_api_key_aqui
